body {
    font-family: "Roboto", sans-serif;
    box-sizing:border-box;
}



#flower-shop {
    width: 600px;
}



.page-container {
    display: flex;
    flex-direction: column;
}

/* Header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #96cbbb;
}

.navigation-links {
    display: flex;
    justify-content: space-between;
}

.logo-image {
    width: 120px;
    border: 2px green solid;
    border-radius: 50%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: #96cbbb;
}


/* Card section */
.card-section {
    display: flex;
    flex-direction: column;
}

.img-cards {
    display: flex;
    flex-direction: row;
}

.card img {
    width: 400px;
    border: 2px solid green;
}


/* Call to action */
.cta {
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Footer section */
footer {
    text-align: center;
    background-color: #96cbbb;
}